[submodule "vendor\\github.com\\cppforlife\\go-patch"]
	path = vendor\\github.com\\cppforlife\\go-patch
	url = https://github.com/cppforlife/go-patch
[submodule "vendor\\github.com\\spf13\\afero"]
	path = vendor\\github.com\\spf13\\afero
	url = https://github.com/spf13/afero
[submodule "vendor\\gopkg.in\\yaml.v2"]
	path = vendor\\gopkg.in\\yaml.v2
	url = https://gopkg.in/yaml.v2
[submodule "vendor\\github.com\\pkg\\sftp"]
	path = vendor\\github.com\\pkg\\sftp
	url = https://github.com/pkg/sftp
[submodule "vendor\\github.com\\kr\\fs"]
	path = vendor\\github.com\\kr\\fs
	url = https://github.com/kr/fs
[submodule "vendor\\github.com\\pkg\\errors"]
	path = vendor\\github.com\\pkg\\errors
	url = https://github.com/pkg/errors
[submodule "vendor\\golang.org\\x\\crypto"]
	path = vendor\\golang.org\\x\\crypto
	url = https://github.com/golang/crypto/
[submodule "vendor\\golang.org\\x\\sys"]
	path = vendor\\golang.org\\x\\sys
	url = https://github.com/golang/sys/
