name: validate

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
  workflow_dispatch: 

env:
  WRANGLE_LOG_LEVEL: trace

jobs:
  build_and_test:
    env:
      INTEGRATION: true
    strategy:
      matrix:
        os: 
        - ubuntu-latest
        - windows-latest
        - macos-latest
    
    runs-on: ${{ matrix.os }}

    steps:

    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Fetch Latest
      run: |
        git fetch --force --tags

    - uses: actions/setup-go@v5
      with:
        go-version: stable

    - name: Build ${{ matrix.os }}
      if: ${{ matrix.os != 'windows-latest' }} 
      run: |
        go build -o dist/wrangle ./cmd/wrangle/main.go

    - name: Build ${{ matrix.os }}
      if: ${{ matrix.os == 'windows-latest' }} 
      run: |
        go build -o dist/wrangle.exe ./cmd/wrangle/main.go        

    - name: Test
      run: |
        go test ./...

    - name: Bootstrap Test ${{ matrix.os }}      
      if: ${{ matrix.os != 'windows-latest' }}
      run: |
        sudo ./dist/wrangle bootstrap

    - name: Bootstrap Test ${{ matrix.os }}
      if: ${{ matrix.os == 'windows-latest' }}
      run: |
        ./dist/wrangle.exe bootstrap
